<template>
  <v-app>
    <Header></Header>
    <Page/>
  </v-app>
</template>

<script>

  import Header from './layouts/Header';
  import Page from './pages'

  export default {
    name: 'App',
    components: {
      Header,
      Page
    } 
  }
</script>

<style lang="css" >
  label {
    margin-bottom: 0px !important;
  }
</style>
