<template>
  <v-container>
    <v-card
    class="mx-auto"
  >
    <v-card-title>
      <span class="title font-weight-light">Calendar</span>
    </v-card-title>
    <v-divider class="mx-4 my-0"></v-divider>
    <v-card-text class="headline font-weight-bold">
      <v-row no-gutters>
        <v-col
          cols="12"
          sm="4"
        >
          <Form />
        </v-col>
        <v-col
          cols="12"
          sm="8"
        >
          <Display />
      </v-col>
      </v-row>
    </v-card-text>
    
  </v-card>
  </v-container>
</template>

<script>

  import Form from '../components/Form'
  import Display from '../components/Display'

  export default {
    name: 'Home',
    components: {
      Form,
      Display
    }
  }
</script>

<style lang="css" scoped>
</style>
