<template>
  <v-list shaped>

    <v-list-item 
      v-for="({date, hasEvent, eventName}, i) in daysInRange()" 
      :key="i" 
      class=" mb-1"
      :class="hasEvent ? 'success' : 'grey'"
    >
      <v-list-item-content>
        <v-list-item-title class="white--text">
          <v-row no-gutters>
            <v-col 
              cols="12" 
              xs="6"
              lg="6"
            >
              {{date}}
            </v-col>
            <v-col 
              cols="12" 
              xs="6"
              lg="6" 
              v-if="hasEvent"
            >
              {{eventName}}
            </v-col>
          </v-row>
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>
      
  </v-list>
</template>

<script>

  import Moment from 'moment';
  import { extendMoment } from 'moment-range';
  import { mapGetters } from 'vuex';
  const moment = extendMoment(Moment);

  export default {
    name: "DateInMonth",
    methods: {
      daysInRange() {
        const data = this.getEvent;
        let dayInRange = {};
          if(data !== null) {
            const start = moment(data.fromDate, 'YYYY-MM-DD');
            const end = moment(data.toDate, 'YYYY-MM-DD');
            const range = moment.range(start, end);
            
            dayInRange =  Array.from(range.by('days')).map(m => {
              const date = m.format('ddd');
              const test = data.dayEvents.some(day => {
                  if(day.includes(date)) {
                    return true;
                  }
              })
              return {date: m.format("D ddd"), hasEvent: test, eventName: data.eventName};
            })
          }
          else {
            const month = moment();
            const range = moment().range(moment().startOf('month'), moment().endOf('month'));
            const days = range.by('days');
            dayInRange = [...days].map(date => {
              return {date: date.format('D ddd'), hasEvent: false, eventName: null};
            });
          }

          return dayInRange;
      }
    },
    computed: {
      ...mapGetters({
        getEvent: "getEvent"
      })
    }
  }
</script>

<style>

</style>