<template>
  <v-container>
    <span>{{ getHeader()}}</span>
    <div>
      <DateInMonth/>
    </div>
  </v-container>
</template>

<script>
  import Moment from 'moment';
  import { extendMoment } from 'moment-range';
  import { mapGetters } from 'vuex';
  import DateInMonth from './DateInMonth'
  const moment = extendMoment(Moment);

export default {
  name: "Display",
  data() {
    return {
      dateInMonth: []
    }
  },

  methods: {
    getHeader() {
      let data = this.getEvent;
      let dateRange = ''
      if(data !== null) {
        dateRange = moment(data.fromDate).format("MMM") !== moment(data.toDate).format("MMM") 
          ?
          `${moment(data.fromDate).format("MMM YYYY")} - ${moment(data.toDate).format("MMM YYYY")}`
          :
          moment(data.fromDate).format("MMM YYYY")
      }
      else {
        dateRange = moment().format("MMM YYYY");
      }
      return dateRange
    }
  },

  components: {
    DateInMonth
  },
  computed: {
    ...mapGetters({
      getEvent: "getEvent"
    }),
  },
}
</script>

<style lang="css" scoped>

</style>