<template>
  <v-form v-model="valid" ref="form">

    <v-snackbar
      v-model="notification"
      color="success"
      top
      right
    >
      {{ message }}
      <v-btn
        color="pink"
        text
        @click="notification = false"
      >
        Close
      </v-btn>
    </v-snackbar>
    
    <v-container>
      <v-text-field
        v-model="eventName"
        :rules="eventRules"
        :counter="50"
        label="Event Name"
        required
      ></v-text-field>
      
      <v-row >
        <v-col cols="12" sm="6" md="6">
          <v-dialog
            ref="fromDialog"
            v-model="fromModal"
            :return-value.sync="fromDate"
            persistent
            width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="fromDate"
                :rules="fromDateRules"
                label="From:"
                prepend-icon="mdi-calendar"
                readonly
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="fromDate" :rules="fromDateRules" scrollable>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="fromModal = false">Cancel</v-btn>
              <v-btn text color="primary" @click="$refs.fromDialog.save(fromDate)">OK</v-btn>
            </v-date-picker>
          </v-dialog>
        </v-col>

        <v-col cols="12" sm="6" md="6">
          <v-dialog
            ref="toDialog"
            v-model="toModal"
            :return-value.sync="toDate"
            persistent
            width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="toDate"
                :rules="toDateRules"
                label="To:"
                prepend-icon="mdi-calendar"
                readonly
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="toDate" :rules="toDateRules" scrollable>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="toModal = false">Cancel</v-btn>
              <v-btn text color="primary" @click="$refs.toDialog.save(toDate)">OK</v-btn>
            </v-date-picker>
          </v-dialog>
        </v-col>
      </v-row>

      <v-row justify="space-around" class="px-4">
        <v-col
          v-for="day in days"
          :key="day" 
        >
          <v-checkbox 
            v-model="hasEvent" 
            :label="day"
            :value="day"
          >
          </v-checkbox>
        </v-col>
      </v-row>

      <v-btn color="primary" v-on:click="submit" >Save</v-btn>

    </v-container>
  </v-form>
</template>

<script>

  import { mapActions, mapGetters } from 'vuex'

  export default {
    name: "Form",
    data: () => ({
      valid: false,
      eventName: '',
      eventRules: [
        v => !!v || 'Name is required',
        v => v.length <= 50 || 'Name must be less than 10 characters',
      ],
      fromDateRules: [
        v => !!v || 'This is required',
      ],
      toDateRules: [
        v => !!v || 'This is required',
      ],
      fromDate: null,
      toDate: null,
      fromModal: false,
      toModal: false,
      days: [
        "Mon",
        "Tue",
        "Wed",
        "Thu",
        "Fri",
        "Sat",
        "Sun",
      ],
      hasEvent: [],
      notification: false,
      message: "Successfully Added Event",
    }),
    methods: {
      ...mapActions(['saveEvent']),
      async submit(e) {
        e.preventDefault()
        if(this.$refs.form.validate()){
          const data = {
            eventName: this.eventName,
            fromDate: this.fromDate,
            toDate: this.toDate,
            dayEvents: this.hasEvent
          }
          await this.saveEvent(data)
          this.notification = true;
        }
      }
    }
  }
</script>

<style lang="css" >
  .v-input--selection-controls {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
  .v-application--is-ltr .v-input--selection-controls__input {
    margin-right: 0 !important;
  }
  .col {
    padding: 0 !important;
  }
  .checkbox {
    height: 10px;
    width: 10px;
    font-size: 4px !important;
  }
  .v-label {
    font-size: 10px !important;
  }
</style>
