<template>
  <v-card
    color="grey lighten-4"
    flat
    tile
  >
    <v-toolbar color="primary" class="white--text" dense>
      <v-app-bar-nav-icon></v-app-bar-nav-icon>

      <v-toolbar-title>Appetiser Coding Test</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon>
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
    </v-toolbar>
  </v-card>
</template>

<script>
export default {
  name: "Header"
}
</script>

<style lang="css" scoped>
</style>
